{% extends "layout.html.twig" %}

{% block title 'Index' %}

{% block content %}
    <div class="welcome-text">
        <h1>Що парсим?</h1>
    </div>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    {% if generated %}
        <div class="welcome-text">
            <h5>Або ж можна подивитися<a href="/view"> попередній результат</a></h5>
        </div>
    {% endif %}

{% endblock %}
