{% extends "layout.html.twig" %}

{% block title 'Result' %}

{% block content %}
    {#<h3>Welcome to your new Silex Application!</h3>#}
    {#Your user id is : {{ user_id }} <br>#}

    <div class="welcome-text">
        <h1>Будь ласка зачекайте ...</h1>
    </div>
    <div class="welcome-text" >
        <h4>Всього знайдено лінків  - {{ wdata.all }}</h4>
        <h4>В черзі на скачування   - {{ wdata.queue }}</h4>
        <h4>Вже скачано та обролено - {{ wdata.parsed }}</h4>
        <h4>А якщо зовсім скучно, можна почитати лог - <a href="/log">parsing.log</a></h4>
    </div>
{% endblock %}

{% block userscripts %}
    <script>
        setInterval(function () { window.location.reload()}, 2000);
    </script>
{% endblock%}
